<h1>Editing my_wombat</h1>

<% form_for(@my_wombat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :schedule %><br />
    <%= f.text_field :schedule %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @my_wombat %> |
<%= link_to 'Back', my_wombats_path %>
