<h1>Wombat's Schedules</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Schedule</th>
  </tr>

<% for my_wombat in @my_wombats %>
  <tr>
    <td><%=h my_wombat.name %></td>
    <td><%=h my_wombat.description %></td>
    <td><%=h my_wombat.schedule %></td>
    <td><%= link_to 'Show', my_wombat %></td>
    <td><%= link_to 'Edit', edit_my_wombat_path(my_wombat) %></td>
    <td><%= link_to 'Destroy', my_wombat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_my_wombat_path %>

<hr/>

<%
#Date::DATE_FORMATS[:short_day_name] = '%a' # => (Sun..Sat)
Date::DATE_FORMATS[:short_day_name] = '%a' # => (Sun..Sat)
mon_wed_fri = Runt::DIMonth.new(Runt::Last_of,Runt::Mon) | Runt::DIWeek.new(Runt::Wed) | Runt::DIWeek.new(Runt::Fri)
# e = Event.find(:first)
# e.schedule = mon_wed_fri
# e.save
# e.reload
# mon_wed_fri = e.schedule
%>
<%= 
calendar :year => 2008, :month => 9 do |d| 
	if mon_wed_fri.include?(d.to_date)
		[d.mday.to_s + " asdf", {:class => "specialDay"}] 
	else
		d.mday
	end
end
%>


